@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto+Condensed&display=swap');


/* start of navbar */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;

}

nav{
    height: 10vh;
    background-color: #0077b6;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 70%;
    
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: #caf0f8;
    font-family: 'Squada One', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    z-index: 1000;
    
}

.nav-links li a:hover{
    
    font-size: 1.7rem;
    color: gold;
}



@media screen and (max-width: 768px){

    .line{
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px;
        z-index: 1000;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        z-index: 400;
        transform: translate(-50%,-50% );
    }


    .nav-links{
        position: fixed;
        background-color: #0077b6;
        height: 100vh;
        flex-direction: column;
        /* display: none; */
        width: 100%;
        z-index: 100;
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
        
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }
    .landing{
        flex-direction: column;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 2rem;
        color: #fff;
        
    }
    .nav-links li a:hover{
    
        font-size: 2.7rem;
        color: gold;
    }
    .nav-links li:nth-child(1){
        transition: all 0.6s ease 0.2s;
        
    }
    .nav-links li:nth-child(2){
        transition: all  0.6s ease 0.4s;
        

    }
    .nav-links li:nth-child(3){
        transition: all  0.6s ease 0.6s;
        

    }
    .nav-links li:nth-child(4){
        transition: all  0.6s ease 0.8s;
        

    }
    .nav-links li:nth-child(5){
        transition: all  0.6s ease 1.0s;
        

    }
    li.fade{
        opacity: 1 !important;
    }

}

@media screen and (max-width: 550px){
    .side1{
        width: 400px !important;
    }
    .side2{
        width: 400px !important;
    }
    .img{
        width: 400px !important;
    }
}
@media screen and (max-width: 350px){
    .side1{
        width: 260px !important;
    }
    .side2{
        width: 260px !important;
    }
    .side2Cont{
        width: 230px !important;
    height: 200px !important;
    }
}






/* end of navbar */

body{
    background-color: #caf0f8;
}

/* start of section 1 */
.section1 {
    height: 100%;
    background-color: #caf0f8;
}

.topHeading{
    margin-left: 10%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* <!-- start of rectangle display --> */

.mainCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.content{
    margin: 40px 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

.side1{
    background-color:#f8edeb;
    width: 500px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.cardText {
    background-color: none;
    height: 220px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    flex: 1;
  }

  .cardLeft{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    font-weight: 600;
  }
  
  .cardRight{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;
    padding-left: 20px;
    font-size: .9rem;
  }

  .buttonContainer{
      
      text-align: center;
  }
  .exploreButton{
      
      /* padding: 8px 25px; */
      /* border-radius: 20px; */
      border: none;
      margin: 30px 0;
      font-size: 1.2rem;
      font-weight: 600;
  }

  .exploreButton a{
       padding: 8px 20px; 
       border-radius: 20px;
       text-align: center;
       background-color: #b0e8f3;
       text-decoration: none;
       color: #000;
  }

  .exploreButton:hover{
      transform: scale(0.98);
      cursor: pointer;
      opacity: 0.7;
  }


  @media (max-width: 1000px){
      #cont1{
          display: flex;
          flex-direction: row-reverse !important;
          flex-wrap: wrap-reverse !important;
      }
  }

/* #change{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
} */

.side2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    transform: scale(1.004);
}


.textCont h2{
    text-align: center;
    padding: 20px 0;
}

.mainText{
    padding: 20px 10px;
}

.side2Cont{
    width: 330px;
    height: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 100%;
    width: 100%;
    
    
    
}


            
/* <!-- end of rectangle display --> */ 



/* start of footer */
footer{
    height: 45vh;
    background-color: gray;
  }
  
  @media (max-width: 550px){
    .footerTitle{
      font-size: 1.5rem !important;
      letter-spacing: 10px !important;
    }
  }
  
  .footerTitle{
    height: 25%;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 20px;
    font-weight: 800;
    color: #ced4da;
  }
  
  .footerContent{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #343a40;
  }
  
  .footerContent div:nth-of-type(1):hover{
    color: gold;
    cursor: pointer;
    transform: scale(1.05);
  }
  .footerContent div:nth-of-type(2):hover{
    color: gold;
    cursor: pointer;
    transform: scale(1.05);
  }
  .footerContent div:nth-of-type(3):hover{
    color: gold;
    cursor: pointer;
    transform: scale(1.05);
  }
  .footerContent div:nth-of-type(4):hover{
    color: gold;
    cursor: pointer;
    transform: scale(1.05);
  }
  /* end of footer */

